@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    background-color: #F2D8A7
}

/*HEADER*/

.header{
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%)!important;
    left: 0;
    top: 0;
    width: 100%;
}

.header a{
    color: white;
    text-decoration: none;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.navbar-nav .nav-link{
    color: white !important;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.row .header .navbar .navbar-brand img:hover {
    filter: grayscale(90%);
}


.dropdown-menu{
    background-color: #fc9105;
}
.dropdown a:hover{
    background: #f0c8a5;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.nav-item a:hover{
    background: #f0c8a5;
}

/*FIN HEADER*/


/*MAIN*/

.div-bienvenidos{
    color: white;
    display: inline;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: rgb(221, 138, 14);
    animation-name: animacion;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 0.5s;
} 

.div-bienvenidos h1{
    font-family: 'Montserrat', sans-serif;
}

@keyframes animacion {
    0% {
        width: 100px;
        color: rgb(228, 226, 120);
    }
    25% {
        width: 300px;
    }
    50% {
        width: 200px;
        background-color: rgb(255, 254, 250);
    }
    75% {
        width: 300px;
    }
    100% {
        width: 200px;
        background-color:rgb(128, 19, 0);
        color: rgb(255, 0, 21);
    }
 }


.section-1 img{ 
    width: 100%;
    height: 450px;
}

.section-2{
    display: inline;
    padding: 50px 50px 20px 50px;
}

.section-2 .div-cabana-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.section-2 .div-cabana-1 img{
    width: 250px;
    height: 200px;
}

.section-2 .div-comodidades{
    padding: 50px;
}

.section-2 .div-mapa iframe{
    width: 600px;
    height: 500px;
}

.div-ubicación{
    display: flex;
    flex-direction: column;
}

.div-ubicación div{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}

.div-ubicación img{
    width: 48px;
    height: 48px;
    padding: 5px;
}

.div-ubicación p{
    margin-top: 10px;
}

.section-3{
    display: inline;
    padding: 50px 50px 20px 50px;
}


.section-3 .div-cabana-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.section-3 .div-cabana-2 img{
    width: 250px;
    height: 200px;
}

.section-3 .div-servicios{
    padding: 50px;
}

.section-4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.section-4 .div-fotos{
    padding: 10px 20px 10px 50px;
}

.section-4 .div-fotos img{   
    width: 250px;
    height: 200px;
}


/*FIN MAIN*/

/*FOOTER*/
.footer{
    width: 100%;
    margin: 0;
}

.row .footer-logo img:hover{
    filter: grayscale(90%);
}

.grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: 0;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}



.box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.box i:hover{
    transform: rotate(0.5turn);
}

.footer{
    background-color: #0a141d;
}

.contacto{
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: auto auto auto;
    align-items: center;
}

.contacto a{
    display: block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 0.4s ease;
}

.box a:hover{
    color: #f0c8a5;
}


.contacto p{
    color: white;
    font-size: 1.5rem;
}

.contacto h3{
    color: white;
    font-size: 16px;
}

.grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.grupo-2 small{
    font-size: 15px;
}
/*FIN FOOTER*/


/*MEDIA*/
@media only screen and (max-width: 768px) {

    .section-1 img{ 
        width: 100%;
       height: 350px;
     }

    .section-2{
        display: inline-block;
        padding: 10px 15px 10px 15px;
    }


    .section-2 .div-comodidades{
        padding: 10px 0 0 50px;
    }
    .section-2 .div-mapa iframe{
        width: 550px;
        height: 450px;
    }

    .section-3{
        display: inline-block;
        padding: 10px 15px 10px 10px;
    }

    .section-3 .div-servicios{
        padding: 10px 0 0 50px;
    }



}


@media only screen and (max-width: 480px) {

    .section-1 img{ 
       width: 100%;
      height: 200px;
    }

    .section-2{
        display: block;
        padding: 10px 15px 10px 15px;
    }

    .section-2 .div-comodidades{
        width: 100%;
        padding: 10px 20px 0 20px;
    }

    .section-2 .div-comodidades h2{
        font-size: 1rem;
    }

    .section-2 .div-comodidades li{
        font-size: 0.75rem;
    }
    .section-2 .div-bienvenido p{
        font-size: 0.75rem;
    }

    .section-2 .div-cabana-1 img{
        width: 200px;
        height: 150px;
    }

    .div-ubicación div{
        display: flex;
        flex-direction: column;
        font-size: 0.75rem;
    }

    .section-3 .div-servicios h2{
        font-size: 1rem;
    }

    .section-3 .div-servicios li{
        font-size: 0.75rem;
    }


    .section-3{
        display: block;
        padding: 10px 15px 10px 15px;
    }

    .section-3 .div-servicios{
        padding: 10px 0 0 20px;
    }

    .section-3 .div-cabana-2 img{
        width: 200px;
        height: 150px;
    }


    .logo-nav-container{
        align-items: center;
        flex-wrap: wrap;
    }

    .nav ul li {
        display: block;
    }

    .contacto{
        display: block;
    }

    .section-4 .div-fotos{
        padding: 10px 10px 10px 15px;
    }

    .section-4 .div-fotos img {
        width: 200px;
        height: 150px;
    }

    h1{
        font-size: 1.5rem;
    }

    

 
}
/*FIN MEDIA*/