$color-fuente-blanco: white;
$color-de-fondo:#F2D8A7;
$color-fondo-header:linear-gradient(to right, #f83600 0%, #f9d423 100%)!important;
$color-dropdown-menu:#fc9105;
$color-hover:#f0c8a5;
$color-div-bienvenido:#dd8a0e;
$fuente-menu-size:1.5rem;
$fuente-dropdown-size:1.3rem;
$color-fondo-footer:#0a141d;
$color-fondo-copyright:#0a1a2a;
$color-fondo-icono-contacto:#0d2033;
